# Yarn
.yarn/cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dependencies
node_modules/
.parcel-cache/
dist/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 